*{
    margin: 0;
    padding: 0;
    font-style:  sans-serif;
}

.createAccount{
    display: flex;
    gap: 10px;
    background-color: #f7f5f4;
    margin-bottom: 0;

}

.createAccimg img{
    width: 105%;
    height: 205vh;

}

.createAccimg {
    width: 50%;
    height: 100%;
}

.createAccRight{
    width: 50%;
    height:auto;
    background-color: #F7F5F4;
   
}

.SIGNupHeroTwoText p:nth-child(1) {
    font-size: 25px;
    font-family: sans-serif;
    margin-bottom: 0.15cm;
}

.SIGNupHeroTwoText p:nth-child(2) {
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 1cm;
}

.createAccount a{
    color: black;
}

.createAccTitle select{
    margin-bottom: 1cm;
    width: 100%;
    height: 7vh;
    border-radius: 0.1cm;
    border: 1px solid silver;
}

.createAccTitle p{
    margin-bottom: 1px;
}

.createAccInput1 input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.createAccInput1 p{
    margin: 1px;
}


.createAccInput2 input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.createAccInput3 input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 1px;
}

.createAccInput4 input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.createAccInput4 p{
    margin-top: 25px;
    margin-bottom: 1px;
}

.createAccInput3 span{
    font-size: 9px;    
}

.createAccInput4 p{
    border-top: 40px;   
}

.createAccCheckbox{
    display: flex;
    gap: 5px;
}

.createAccCheckbox input{
    margin-top: 10px;
    background-color: black;
    color: black;
    width: 15px;
    height: 15px;
    
}

.createAccBottom p:nth-child(1) {
    font-size: 12px;
}

.createAccBottom :nth-child(2) {
    margin-top: 15px;
    font-size: 12px;
    font-weight: lighter;
    border-bottom: 1px;
}





.remowaSectionOne{
    display: flex;
    gap: 50px; 
    height: 300px;
    align-items: center;
    background-color: rgb(13,9,0);
    color: white;
    padding-left: 195px;
    margin-top: 1px;
    
}
.remowaSub1{
    text-align: center;
}
.remowaSub1 img{
    margin: 100px;
    margin-bottom: 15px;
    margin-top: 60px;
    /* margin-left: 160px; */
    


}

.remowaSub1 :nth-child(2){
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 5px;
}

.remowaSub1 :nth-child(3){
    margin-left: 15px;
    margin-bottom: 10px;
    font-weight: lighter;
    word-spacing: 5px;
    color:whitesmoke;
}

.remowaSub2{
    text-align: center;
}

.remowaSub2 img{
    margin: 100px;
    margin-bottom: 15px;
    margin-top: 60px;
}

.remowaSub2 :nth-child(2){
    margin-left: 15px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 5px;
}

.remowaSub2 :nth-child(3){
    margin-left: 15px;
    margin-bottom: 10px;
    font-weight: lighter;
    word-spacing: 5px;
    color:whitesmoke;
}

.remowaSub3{
    text-align: center;
}

.remowaSub3 img{
    margin: 50px;
    width: 100px;
    border-radius: 40%;
    margin-bottom: 15px;
    margin-top: 60px;
    height: 70px;
}

.remowaSub3 :nth-child(2){
    margin-left: 15px;
    margin-bottom: 10px;
    word-spacing: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.remowaSub3 :nth-child(3){
    margin-left: 15px;
    margin-bottom: 10px;
    word-spacing: 5px;
    font-weight: lighter;
    color:whitesmoke;
}

.footerSecondSection{
    padding-top: 35px;
    color: white;
    background-color: black;
    align-items: center;
    padding-left: 80px;
    padding-bottom: 10px;
}

.footerHROne{
    width: 94%;
    font-weight: lighter;
    border-bottom: 1px solid gray;
    padding-top: 30px;

}

.footerSecondSection h6{
    font-weight: lighter;
    word-spacing: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footerSecondSection1{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.footerSecondSection2{
    font-family: Arial;
    font-weight: lighter;
    word-spacing: 5px;
}

.footerSecondSection3{
    display: flex;
    gap: 10px;
    padding-right: 80px;

}

.footerSecondSection3 h5{
    font-family: Arial;
    padding-top: 3px;
}
.footerSecondSection4{
    display: flex;
    gap: 5px;
}

.footerSecondSection4 img{
    width:26px;
    margin-bottom: 5px;
}

.footerSecondSection5{
    display: flex;
    gap: 5px;
}

.footerSecondSection5 img{
    width: 30px;
    margin-bottom: 5px;
}

.footerthirdSection{
    height: auto;
    padding-top: 80px;
    color: white;
    background-color: black;
    align-items: center;
    padding-left: 80px;
    padding-bottom: 50px;
}

.footerthirdSectionOne{
    display: flex;
    gap: 495px;
}

.footerthirdSectionOne :nth-child(1){
    word-spacing: 5px;
    color: whitesmoke;
    margin-bottom: 10px;
    font-weight: lighter;
}

.footerthirdSectionOne :nth-child(2){
    word-spacing: 4px;
    margin-bottom: 10px;
    font-family: Arial;
}

.footerthirdSectionTwo{
    display: flex;
    gap: 100px;
}
.footerthirdSectionthree{
    align-items: center;
}

.footerthirdSectionthree input{
    width: 100%;
    height: 6vh;
}

.footerthirdSectionthree :nth-child(1){
    word-spacing: 3px;
    margin-bottom: 30px;
    font-family: Arial;

}
.footerthirdSectionfour{
    display: flex;
    gap: 45px;
}
.footerthirdSectionfive img{
    width: 200px;
}


.footerthirdSectionsix :nth-child(1){
    word-spacing: 3px;
    margin-bottom: 15px;
    font-family: Arial;
    font-weight: lighter;
    color: whitesmoke;

}

.footerthirdSectionsix :nth-child(2){
    word-spacing: 3px;
    margin-bottom: 12px;
    font-family: Arial;

}

.footerthirdSectionsix :nth-child(3){
    word-spacing: 3px;
    margin-bottom: 12px;
    font-family: Arial;
    font-weight: lighter;
    color: whitesmoke;

}

.footerthirdSectionsix :nth-child(4){
    word-spacing: 3px;
    margin-bottom: 12px;
    font-family: Arial;

}

.footerthirdSectionsix :nth-child(5){
    word-spacing: 3px;
    margin-bottom: 12px;
    font-family: Arial;
    font-weight: lighter;
    color: whitesmoke;

}


.footerHRTwo{
    width: 94%;
    font-weight: lighter;
    border-bottom: 1px solid gray;
    padding-top: 60px;

}

.footerfourthSectionMain{
    list-style: none;
    background-color: black;
    color: white;
    padding-left: 80px;
    padding-top: 60px;
}

.footerfourthSection{
    display: flex;
    justify-content: space-between;
}

.footerfourthSection h6{
    word-spacing: 3px;
    margin-bottom: 30px;
    font-family: Arial;
    font-weight: lighter;
    color: whitesmoke;

}

.footerfourthSectionOne li{
    list-style: none;
    margin-bottom: 12px;
    font-family: Arial;
}

.footerfourthSectionTwo li{
    list-style: none;
    margin-bottom: 12px;
    font-family: Arial;
}

.footerfourthSectionThree li{
    list-style: none;
    margin-bottom: 12px;
    font-family: Arial;
}

.footerfourthSectionFour li{
    list-style: none;
    margin-bottom: 12px;
    font-family: Arial;
}


.footerfourthSectionFiveimage{
    display: flex;
    gap: 2px;
    padding-right: 60px;
}

.footerfourthSectionFiveimage :nth-child(5){
    background-color: white;
}

.footerfourthSectionFiveimage :nth-child(6){
    background-color: white;
}

.footerfourthSectionFiveimage :nth-child(7){
    background-color: white;
}

.footerfourthSectionFive img{
    width: 50px;
    border-radius: 20%;
    
}

.footerHRThree{
    width: 94%;
    font-weight: lighter;
    border-bottom: 1px solid gray;
    padding-top: 60px;

}

.footerfifthSectionMain{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-left:80px;
    padding-top: 60px;
    padding-right: 70px;
}

.footerfifthSectionOne :nth-child(2){
    margin-top: 10px;

}



